body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.text-center {
  text-align: center !important;
}


#nonogram {
  margin: 0 auto;
  border-width: 1px;
  border-collapse: collapse;
  border-spacing: 0;
}

#nonogram th, td {
  padding: 1px;
}


#nonogram .r {
  border-right-width: 2px
}

#nonogram .b, #nonogram .b > td {
  border-bottom-width: 2px
}

#nonogram .puzzle-cell {
  touch-action: none
}

#nonogram .puzzle-out {
  border: none
}

#nonogram .left-numbers {
  padding: 0 5px;
  text-align: right;
  border-right-width: 2px
}

#nonogram.solved .puzzle-cell-on {
  -webkit-animation: colorchange 3s;
  animation: colorchange 3s
}

@-webkit-keyframes colorchange {
  0% {
    background: red
  }

  14% {
    background: orange
  }

  28% {
    background: #ff0
  }

  43% {
    background: green
  }

  57% {
    background: #00f
  }

  71% {
    background: indigo
  }

  86% {
    background: violet
  }

  to {
    background: auto
  }
}

@keyframes colorchange {
  0% {
    background: red
  }

  14% {
    background: orange
  }

  28% {
    background: #ff0
  }

  43% {
    background: green
  }

  57% {
    background: #00f
  }

  71% {
    background: indigo
  }

  86% {
    background: violet
  }

  to {
    background: auto
  }
}

td.puzzle-cell {
  width: 20px;
  height: 20px;
  cursor: "pointer";
  touch-action: "none"
}

td.puzzle-cell.puzzle-cell-on {
  background: #000
}

