<div class="text-center">
  <h1>ng nonogram solver</h1>


  <h3 *ngIf="board"> {{board.width}} x {{board.height}}
    <button (click)="resolve($event)">resolve</button>
  </h3>


  <table id="nonogram" border="1" *ngIf="board">
    <tbody>

    <tr class="b">
      <td class="r">&nbsp;</td>
      <td *ngFor="let column of board.top; index as i;" [class.r]="(i % 5) == 4">

        <ng-container *ngFor="let cell of column">
          {{cell}}<br/>
        </ng-container>
      </td>
    </tr>

    <tr *ngFor="let row of board.left; index as x;" [class.b]="(x % 5) == 4">
      <td class="left-numbers">
        <ng-container *ngFor="let cell of row">
          {{cell}}
        </ng-container>
      </td>

      <td class="puzzle-cell" (click)="cell(x, y)"
          *ngFor="let column of board.top; index as y;"
          [class.puzzle-cell-on]="(board.isOn(x,y))"
          [class.puzzle-cell-off]="(board.isOff(x,y))"
          [class.r]="(y % 5) == 4">
        <!--        {{board.board[x][y]}}-->
      </td>
    </tr>

    </tbody>
  </table>
</div>
